.game-area {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 310px;
    height: 480px;
    background-color: rgb(19, 18, 18);
    border: 1px solid red;
}
