.select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 480px;
    border: 1px solid gold;
    color: white;
}

.select-bun {
    justify-content: space-evenly;
}

.select-sauce {
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 5px;
}

.select-button {
    width: 125px;
    height: 40px;
    border: 1px solid silver;
}

.sauce-button {
    width: 100px;
    height: 15px;
    border: 1px solid silver;
}

.msg {
    border: 1px solid purple;
  }