/* <Tile/> styling */ 
.tile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: +1;
    width: 80px;
    height: 30px;
    border: 1px solid silver;
}
/* make chz/meat/landing-chz/landing-meat ht dynamic */
.chz {
  width: 80px;
  /* height: 8px;  */
}

.meat {
  width: 80px;
  /* height: 22px; */
}

/* <TileLanding/> styling */ 
.tile-landing {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 35px;
}

.landing-chz {
width: 85px;
/* height: 5px; */
}

.landing-meat {
width: 85px;
/* height: 30px; */
}