.welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 310px;
    height: 480px;
    background-color: rgb(19, 18, 18);;
    color: red;
    border: 1px solid gold;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border: 1px solid darkred;
    border-radius: 9px;
    background-color: lightblue;
}

.button:hover {
    background-color: darkcyan;
}

.button:active {
    border: 1px solid darkslateblue;
    background-color: darkmagenta;
    color: darkcyan;
}